<div class="container">
<section class="sc-13a96pg-1 hzExmk">
  <div class="sc-1t9ddok-0 WoOlH sc-13a96pg-2 cvkHAe">
    <h2 class="sc-13a96pg-11 cognrQ">История</h2>
    <div class="sc-13a96pg-28 jiNQqK">
      <p class="sc-13a96pg-16 gLPNmj">2019</p>
      <p class="sc-13a96pg-8 kVzbvc">
        Запущено 17 новых телеканалов. Общее количество каналов в цифровом ТВ
        Дом.ru - 226, сразу 87 из них вещают в HD, 5 – в UHD. Компания остается
        одним из лидеров по количеству каналов в HD-качестве среди федеральных
        операторов платного ТВ России. Представлена первая «умная» цифровая
        ТВ-приставка на базе Android — Movix Pro. Дом.ru первым среди операторов
        платного ТВ в России запускает собственное приложение для очков
        виртуальной реальности. На виртуальном экране доступно 20 телеканалов.
        Новым и действующим клиентам при наличии технической возможности
        доступны скоростные бонусы 300 и 600 Мбит/с. Проведен второй открытый
        собственный чемпионат России по Dota 2 с призовым фондом 1 млн рублей. В
        Волгограде, Перми, Ростове-на-Дону и Екатеринбурге запущена услуга
        домашнего видеонаблюдения, которая позволяет удаленно контролировать
        ситуацию внутри квартиры, в подъезде или частном доме. Введен новый
        подход к оказанию технического сервиса — команды сервисных инженеров.
        Это универсальные специалисты с широким функционалом, которые оперативно
        и профессионально помогут устранить техническую проблему клиента.
        Монтированная емкость сети увеличилась на 610 тысяч квартир.
      </p>
    </div>
    <div class="sc-13a96pg-28 jiNQqK">
      <p class="sc-13a96pg-16 gLPNmj">2018</p>
      <p class="sc-13a96pg-8 kVzbvc">
        Дом.ru запускает мультиплатформенное ТВ «Дом.ru Movix, которое можно
        смотреть с экрана телевизора через приложение для Smart TV, с мобильных
        устройств или на сайте movix.ru. Запускается новая линейка
        высокоскоростных Wi-Fi роутеров, поддерживающих скорость от 100 Мбит/c и
        работающих в 2 диапазонах частот. Проект «Умные домофоны» запущен в 25
        городах. Монтированная емкость сети Дом.ru увеличена на 465 тысяч
        квартир. Компания начинает строительство сети в частном секторе по
        технологии GPON в Брянске, Иркутске, Рязани, Ростове-на-Дону и Саратове.
        Дом.ru реализует проект для повышения качества работы и бесперебойности
        сети в 15 тысячах домов во всех городах присутствия на основании данных
        системы проактивного сервиса (СПАС), запущенной в начале 2018 года.
        Завершаются сделки по приобретению ООО "Компания Телемир", ООО
        «Мичуринск-Связь-ТВ», группы компаний «Брянские кабельные сети», группы
        компаний «Стрела Телеком». Во втором полугодии 2018 года холдинг
        развернул в 52 российских городах сети IoT с применением технологии
        LoRaWAN для предоставления IoT-решений крупным заказчикам и
        государственным органам.
      </p>
    </div>
    <div class="sc-13a96pg-28 jiNQqK">
      <p class="sc-13a96pg-16 gLPNmj">2017</p>
      <p class="sc-13a96pg-8 kVzbvc">
        Число HD-каналов в сети цифрового ТВ Дом.ru выросло до 85. В сети
        общедоступного Wi-Fi запускается новый сервис — платный премиум-доступ
        на более высокой скорости. В преддверии Чемпионата мира по футболу и
        Кубка Конфедераций в Санкт-Петербурге разворачивается
        многофункциональная инфраструктура, включающая общедоступную Wi-Fi сеть,
        систему видеомониторинга на улицах города и оповещения на спортивных
        объектах. Холдинг принимает решение о запуске сети Интернета вещей с
        федеральным покрытием в 60 городах совместно с технологическим партнером
        Actility в течение 2018-2019 гг. Запущены пилотные проекты в
        нефтедобывающей, сельскохозяйственной и энергетической отраслях.
        Завершаются сделки по приобретению крупных федеральных и региональных
        операторов ООО «Новотелеком», АО «ТКС-Нева» и АО «Акадо-Екатеринбург»,
        ООО «Коламбия Телеком».
      </p>
    </div>
    <div class="sc-13a96pg-28 jiNQqK">
      <p class="sc-13a96pg-16 gLPNmj">2016</p>
      <p class="sc-13a96pg-8 kVzbvc">
        Дом.ru — самый быстрорастущий оператор связи в России. Совместный проект
        с Мегафоном позволил выйти на рынок сотовой связи по схеме MVNO в 32
        городах. Запуск тарифного плана «Конструктор», который позволяет
        самостоятельно формировать набор телеканалов и регулировать скорость
        интернета. Число HD-каналов выросло до 67. Закрыто несколько крупных
        сделок слияния и поглощения локальных операторов в Иркутске,
        Санкт-Петербурге и Рязани. На Московской бирже была зарегистрирована
        программа биржевых облигаций на 30 млрд рублей. Вышли на рынок
        публичного заимствования, разместив два выпуска облигаций общим объёмом
        8 млрд рублей. Международное рейтинговое агентство Standard and Poor’s
        присвоило холдингу рейтинг B+, а Moody’s улучшили прогноз по текущему
        рейтингу B2 на позитивный. В Москве запущена городская Wi-Fi сеть из
        1100 точек доступа внутри Садового кольца.
      </p>
    </div>
    <div class="sc-13a96pg-28 jiNQqK">
      <p class="sc-13a96pg-16 gLPNmj">2015</p>
      <p class="sc-13a96pg-8 kVzbvc">
        Корейские HUMAX и KAON, французская Ekinops — сотрудничают с Дом.ru.
        Запуск серийного производства ТВ-приставки «Дом.ru TV Mini» в Перми.
        Развитие мобильных технологий телепросмотра. Расширение возможностей
        сервиса мультискрин «Дом.ru TV to Go», для просмотра ТВ-программ и шоу с
        экранов гаджетов в любой точке России, где есть беспроводной доступ в
        интернет. Запуск нового суперскоростного тарифа в 5 городах. Жители
        Пензы, Рязани, Тулы, Чебоксар и Челябинска могут выходить в интернет на
        скорости до 200 Мбит/с.
      </p>
    </div>
    <div class="sc-13a96pg-28 jiNQqK">
      <p class="sc-13a96pg-16 gLPNmj">2014</p>
      <p class="sc-13a96pg-8 kVzbvc">
        Представлены 2 новых устройства для подключения к цифровому ТВ.
        Инновационная ТВ-приставка «Дом.ru TV» с сервисами, как multiscreen,
        catch-up, видеотека, многоуровневый поиск контента, мобильный пульт.
        Развитие услуги с учетом мировых тенденций, возможность настраивать
        телеэфир «под себя». Второе устройство «Дом.ru TV Mini» можно подключить
        к любому телевизору и устаревшим моделям. 163 телеканала, из них 56
        каналов в HD-формате, что является максимумом на российском рынке.
        Совершенствуется система клиентского сервиса. Обновлено программное
        обеспечение контакт-центров, запущены новые интерактивные каналы
        коммуникаций.
      </p>
    </div>
    <div class="sc-13a96pg-28 jiNQqK">
      <p class="sc-13a96pg-16 gLPNmj">2013</p>
      <p class="sc-13a96pg-8 kVzbvc">
        Укрепили позиции по самому большому количеству HD-каналов в России,
        увеличив их число с 35 до 50. Еще более 100 каналов в стандартном
        цифровом формате. Wi-Fi сеть провайдера интернета Дом.ru — самая большая
        в России: 56 городов, 5 000 бесплатных точек.
      </p>
    </div>
    <div class="sc-13a96pg-28 jiNQqK">
      <p class="sc-13a96pg-16 gLPNmj">2012</p>
      <p class="sc-13a96pg-8 kVzbvc">
        Запуск Дом.ru Бизнес для корпоративных клиентов. Запуск нового формата
        HD-телевидения «Дом.ru TV» в 19 городах. Ускорение до 100 Мбит/c. В
        ноябре Дом.ru подключает 5-миллионного абонента.
      </p>
    </div>
    <div class="sc-13a96pg-28 jiNQqK">
      <p class="sc-13a96pg-16 gLPNmj">2011</p>
      <p class="sc-13a96pg-8 kVzbvc">
        Запущено 15 start up-проектов: в Уфе, Кургане, Туле, Ульяновске,
        Магнитогорске, Дзержинске, Сызрани, Рязани, Иркутске, Томске, Брянске,
        Чебоксарах, Твери, Курске и Ростове-на-Дону.
      </p>
    </div>
    <div class="sc-13a96pg-28 jiNQqK">
      <p class="sc-13a96pg-16 gLPNmj">2010</p>
      <p class="sc-13a96pg-8 kVzbvc">
        Начало реализации лидерской стратегии Дом.ru.
      </p>
    </div>
    <img
      src="https://voronezh.domru.ru/static/images/about/history_map-min.png"
      alt="О компании Дом.ru 1"
      width="100%"
      height="500px"
      class="sc-13a96pg-18 kCnIll"
    />
  </div>
</section>
</div>
